<h1>Courses Timetable</h1>
<a *ngIf="!isLoggedIn" href="/login"><button>Login</button></a>
<button *ngIf="isLoggedIn" (click)="logOut()">Logout</button>
<a *ngIf="this.currentUser.admin" href="/admin"><button>Admin</button></a>
<br>
<article>Search for the courses available at Western University, and log in to create public and private course lists</article>
<br>
<app-search1></app-search1>
<div *ngIf="isLoggedIn">
    <app-user></app-user>
</div>
<div *ngIf="!isLoggedIn">
    <h4>Public Schedules:</h4>
    <ul *ngIf='!schedulesMsg' id="Schedules">
        <li *ngFor="let s of schedules">
            <span>
                <label (click)="viewScheduleTimetable(s.name)">{{s.name}}: Created by {{s.ownerName}}</label>
            </span>
        </li>
    </ul>
    <p *ngIf='schedulesMsg'>{{schedulesMsg}}</p>
    <div *ngIf='schedule' class="result">
        <h3>{{schedule}}</h3>
        <table>
            <tr>
                <th>Subject</th>
                <th>Course Code</th>
                <th>Section</th>
                <th>Component</th>
                <th>Class Nbr</th>
                <th>Days</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
                <th>Year</th>
            </tr>
            <ng-container *ngFor="let s of scheduleTimetable">
                <ng-container *ngFor="let c of s[0].course_info" >
                    <tr *ngIf="c.ssr_component==='LEC'">
                        <td>{{s[0].subject}}</td>
                        <td>{{s[0].catalog_nbr}}</td>
                        <td>{{c.class_section}}</td>
                        <td>{{c.ssr_component}}</td>
                        <td>{{c.class_nbr}}</td>
                        <td>
                            <ng-container *ngFor="let day of c.days">{{day}}</ng-container>
                        </td>
                        <td>{{c.start_time}}</td>
                        <td>{{c.end_time}}</td>
                        <td>{{c.enrl_stat}}</td>
                        <td>{{s[1]}}</td>
                    </tr>
                </ng-container>
            </ng-container>
        </table>
    </div>
</div>
<br>
