<h3>Schedules</h3>
<h4>Create a New Schedule:</h4>
<form id="createSchedule">
    <label>Schedule Name </label>
    <input type="text" #scheduleName>
    <br><br>
    <label>Description </label>
    <input type="text" value="" #description>
    <br><br>
    <label>Visibility: </label>
    <select #visibility>
        <option value="private">Private</option>
        <option value="public">Public</option>
    </select>
    <br><br>
    <label>Subject</label>&nbsp;
    <input type="text" class="addSubject">&nbsp;
    <label>Course</label>&nbsp;
    <input type="text" id="addCourse" class="addCourse">&nbsp;
    <label>Year Taken</label>&nbsp;
    <input type="text" id="year" class="year"><br>
    <label>Subject</label>&nbsp;
    <input type="text" class="addSubject">&nbsp;
    <label>Course</label>&nbsp;
    <input type="text" id="addCourse" class="addCourse">&nbsp;
    <label>Year Taken</label>&nbsp;
    <input type="text" id="year" class="year"><br>
    <label>Subject</label>&nbsp;
    <input type="text" class="addSubject">&nbsp;
    <label>Course</label>&nbsp;
    <input type="text" id="addCourse" class="addCourse">&nbsp;
    <label>Year Taken</label>&nbsp;
    <input type="text" id="year" class="year"><br>
    <label>Subject</label>&nbsp;
    <input type="text" class="addSubject">&nbsp;
    <label>Course</label>&nbsp;
    <input type="text" id="addCourse" class="addCourse">&nbsp;
    <label>Year Taken</label>&nbsp;
    <input type="text" id="year" class="year"><br>
    <label>Subject</label>&nbsp;
    <input type="text" class="addSubject">&nbsp;
    <label>Course</label>&nbsp;
    <input type="text" id="addCourse" class="addCourse">&nbsp;
    <label>Year Taken</label>&nbsp;
    <input type="text" id="year" class="year"><br>
    <br><br>
    <input type="submit" value="Create" (click)="createSchedule(scheduleName.value,description.value,visibility.value)">
</form>
<p *ngIf='errorMsg' class="error">{{errorMsg}}</p>
<p *ngIf='addErrorMsg' class="error">{{addErrorMsg}}</p>
<p *ngIf='successMsg' class="success">{{successMsg}}</p>
<br>
<div>
    <h4>My Schedules:</h4>
    <ul *ngIf='!schedulesMsg' id="Schedules">
        <li *ngFor="let s of schedules">
            <span>
                <label (click)="viewScheduleTimetable(s.name)">{{s.name}} </label>
                <button (click)="deleteDialog(s.name)">Delete</button>
            </span>
        </li>
    </ul>
    <p *ngIf='schedulesMsg'>{{schedulesMsg}}</p>
    <div *ngIf='schedule' class="result">
        <h3>{{schedule.name}}</h3>
        <p *ngIf="schedule.description">Description: {{schedule.description}}</p>
        <p>Visibility: {{schedule.visibility}}</p>
        <p>Last Modified: {{schedule.lastmodified | date:"dd/MM/yy HH:mm z"}}</p>
        <table>
            <tr>
                <th>Subject</th>
                <th>Course Code</th>
                <th>Section</th>
                <th>Component</th>
                <th>Class Nbr</th>
                <th>Days</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
                <th>Year</th>
            </tr>
            <ng-container *ngFor="let s of scheduleTimetable">
                <ng-container *ngFor="let c of s.courses[0].course_info" >
                    <tr>
                        <td>{{s.courses[0].subject}}</td>
                        <td>{{s.courses[0].catalog_nbr}}</td>
                        <td>{{c.class_section}}</td>
                        <td>{{c.ssr_component}}</td>
                        <td>{{c.class_nbr}}</td>
                        <td>
                            <ng-container *ngFor="let day of c.days">{{day}}</ng-container>
                        </td>
                        <td>{{c.start_time}}</td>
                        <td>{{c.end_time}}</td>
                        <td>{{c.enrl_stat}}</td>
                        <td>{{s.year}}</td>
                    </tr>
                </ng-container>
            </ng-container>
        </table>
    </div>
    <p id="schCorErr" class="error">{{schErrorMsg}}</p>
</div>
<br>
<h3>Add Reviews</h3>
<form>
    <label>Subject: </label>
    <input type="text" #searchSubject>&nbsp;
    <label>Course Code: </label>
    <input type="text" #courseCode>&nbsp;
    <label>Review: </label>
    <textarea #review></textarea>
    <br><br>
    <input type="submit" value="Post Review" (click)="postReview(searchSubject.value, courseCode.value, review.value)">
</form>
<p *ngIf='revErrorMsg' class="error">{{revErrorMsg}}</p>