<h2>Administration</h2><br>
<a href="/"><button>Home</button></a><br><br>
<div *ngIf="currentUser.admin">
<h2>Users</h2>
<div *ngFor='let u of users'>
    <label>Name: {{u.name}}</label>
    <label>E-mail: {{u.email}}</label>
    <label>Admin Privelages: {{u.admin}}</label>
    <select #admin>
        <option value="true">Give Admin</option>
        <option value="false">Revoke Admin</option>
    </select>
    <label>Deactivated: {{u.deactivated}}</label>
    <select #deactivated>
        <option value="false">Activate</option>
        <option value="true">Deactivate</option>
    </select>
    &nbsp;
    <button (click)='updateUser(u.email, admin.value, deactivated.value)'>Update User</button>
</div><br><br>
<h2>Reviews</h2>
<div>
    <div *ngFor="let r of reviews">
        <p class="info">Posted by {{r.reviewer}} on {{r.datePosted | date:"dd/MM/yy HH:mm z"}}  <button *ngIf='r.visibile' (click)='updateReview(r._id, false)'>Hide</button>&nbsp;<button *ngIf='!r.visibile' (click)='updateReview(r._id, true)'>Unhide</button></p>
        <p class="review">{{r.review}}</p>
    </div>
</div>
</div>